<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WcfChatPost.ChatService">
        <endpoint address="http://192.168.1.37:12345/chatServer"
                  binding="wsHttpBinding"
                  contract="WcfChatPost.IChatService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>